.flex{ flex-wrap: wrap; display: flex; max-width: 100%; margin: 0 auto;}
.col1{ width: 10%;}	.col2{ width: 20%;}	.col3{ width: 30%;}	.col4{ width: 40%;}	.col5{ width: 50%;}	.col6{ width: 60%;}	
.col7{ width: 70%;}	.col8{ width: 80%;}	.col9{ width: 90%;}	.col10{ width: 98%;}

.box-topo{
     display: flex;
     justify-content: space-between;
}
